name: NASA PROJECT CI/CD Pipeline
on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master
jobs:
  build:
    env:
      CI: true
      MONGODB_URI: mongodb://localhost:27017/nasa-project
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.15.0]
        mongodb-version: ['8.0.17']

    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Start MongoDB ${{ matrix.mongodb-version }}
        uses: supercharge/mongodb-github-action@1.12.1
        with:
          mongodb-version: ${{ matrix.mongodb-version }}
      - name: Install Dependencies with unsafe perm
        run: yarn install
      - name: build frontend
        run: cd ./client && yarn run build
      - name: run tests
        run: cd ./server && yarn test && cd ../client && yarn test
