name: NASA PROJECT CI/CD Pipeline
on:
  push:
    branches:
      - master

  pull_request:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.15.0]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies with unsafe perm
        run: npm install --unsafe-perm
      - name: build frontend
        run: npm run build --prefix client
